---
import Layout       from '@layouts/Layout.astro';
import { Locale }   from '@lib/locale/locale';
import { Metadata } from '@lib/metadata/metadata';
import { Env }      from '@lib/env/env';
import Link         from '@components/ui/Link/Link.astro';

export async function getStaticPaths() {
  return Locale.supported.map(locale => ({
    params: { locale }
  }));
}

const supported = Locale.supported;
const current   = Locale.current;

// Example of setting metadata
Metadata.set({
	title: 'Homepage',
	description: 'A robust Astro starter template with essential developer tooling: SEO optimization, dynamic i18n support, error handling, utility functions, and design tokens. Foundation for building production-ready websites.',
	keywords: ['astro', 'template'],
});

console.log(supported);
console.log(Locale.info('en'));
---

<Layout>
  <span>{Env.get('NODE_ENV')}</span>
  <h1>{Locale.t('page.home.title')}: ({current})</h1>
  <div style="display: flex; gap: 10px;">
    {supported.map(locale => {
      const info = Locale.info(locale);
      return <Link url={`/${locale}`} external={false}>{info.endonym}</Link>
    })}
  </div>
</Layout>
