---

interface Props {
  url       : string;  // The URL to link to
  external  : boolean; // Whether the link is external
}

const { url, external }: Props = Astro.props;

// Add debug logging
console.log('Link props:', { url, external });

---

<a 
  href={url} 
  target={external ? '_blank' : '_self'}
  style="color: blue; text-decoration: underline;"
>
  <slot />
</a>
