---

import { Locale }   from '@lib/locale/locale';
import Head         from '@components/document/Head/Head.astro';

---

<!DOCTYPE html>
<html lang={Locale.current}>
  <Head />
	<body>
		<slot />
	</body>
</html>
