---

import { Locale }   from '@library/locale/locale';
import Head         from '@components/Head/Head.astro';

---

<!DOCTYPE html>
<html lang={Locale.current}>
  <Head />
	<body>
		<slot />
	</body>
</html>
