---

import { Locale }   from '@lib/locale/locale';
import Head         from '@components/document/Head/Head.astro';

// CSS Fonts
import '@styles/fonts/Inter.css';
import '@styles/fonts/JetBrainsMono.css';

// CSS Utils
import '@styles/utils/reset.css';
import '@styles/tokens/colors.css';
import '@styles/tokens/layers.css';
import '@styles/tokens/motion.css';
import '@styles/tokens/radius.css';
import '@styles/tokens/shadows.css';
import '@styles/tokens/spaces.css';
import '@styles/tokens/typography.css';

// CSS Content
import '@styles/variables.css';
import '@styles/main.css';
---

<!DOCTYPE html>
<html lang={Locale.current}>
  <Head />
	<body>
		<slot />
	</body>
</html>
