---

// Styles
import '@styles/fonts/Inter.css';
import '@styles/utils/reset.css';
import '@styles/tokens/colors.css';
import '@styles/tokens/layers.css';
import '@styles/tokens/motion.css';
import '@styles/tokens/radius.css';
import '@styles/tokens/shadows.css';
import '@styles/tokens/spaces.css';
import '@styles/tokens/typography.css';
import '@styles/semantics.css';
import '@styles/main.css';

interface Props {
  align?: 'center' | 'left' | 'right';
}

const { 
  align = 'left'
}: Props = Astro.props;

---

<main class={align}>
  <slot />
</main>

<style>  
  main {
    display        : flex;
    flex-direction : column;
    min-height     : 100svh;
    max-width      : var(--max-width);
    margin         : 0 auto;
    margin-top     : var(--navigation-height);
    padding-bottom : 10svh;

    &.center {
      justify-content : center;
      align-items     : center;
    }
    &.left {
      justify-content : flex-start;
      align-items     : flex-start;
    }
    &.right {
      justify-content : flex-end;
      align-items     : flex-end;
    }
  }

  :global(section) {
    margin-bottom : var(--section-padding);
    width         : 100%;
  }

  :global(section > h2) {
    font-size    : var(--fs-1000);
    font-weight  : var(--fw-500);
    word-spacing : 0.02rem;
    color        : var(--color-text-primary);
  }
</style>