---
import { Metadata } from '@library/metadata/metadata';
import { Locale }   from '@library/locale/locale';
import Head         from '@components/Head/Head.astro';

// Example of setting metadata
Metadata.set({
	title: 'Astro Template',
	description: 'A robust Astro starter template with essential developer tooling: SEO optimization, dynamic i18n support, error handling, utility functions, and design tokens. Foundation for building production-ready websites.',
	keywords: ['astro', 'template'],
});

---

<!DOCTYPE html>
<html lang={Locale.current}>
  <Head />
	<body>
		<slot />
	</body>
</html>
